<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments :: admin_head('Admin | Dashboard')" />
<body>
	<div class="d-flex flex-column" style="min-height:100vh">
		<div th:replace="admin/fragments :: admin_navigation()" />
		<div class="container">
			<h2 class="border-bottom pb-3 mb-3">Admin | Dashboard</h2>
			<p>Welcome Administrator</p>
			
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title border-bottom pb-2 text-center">Orders</h5>
							<p class="card-text">New Orders: <strong>[[${newOrderCount}]]</strong></p>
							<p class="card-text">Total: <strong>[[${totalOrders}]]</strong></p>
							<a th:href="@{/admin/orders}" class="btn btn-primary">Manage</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title border-bottom pb-2 text-center">Users</h5>
							<p class="card-text">Total: <strong>92</strong></p>
							<p class="card-text">Logged In: <strong>[[${loggedInUsers}]]</strong></p>
							<a th:href="@{/admin/users}" class="btn btn-primary">Manage</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title border-bottom pb-2 text-center">Phones</h5>
							<p class="card-text">Total: <strong>192</strong></p>
							<a th:href="@{/admin/users}" class="btn btn-primary">Manage</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title border-bottom pb-2 text-center">Chats</h5>
							<p class="card-text">Total: <strong>392</strong></p>
							<a th:href="@{/admin/chats}" class="btn btn-primary">Manage</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title border-bottom pb-2 text-center">Payments</h5>
							<p class="card-text">Total: <strong>92</strong></p>
							<a th:href="@{/admin/payments}" class="btn btn-primary">Manage</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title border-bottom pb-2 text-center">Feedbacks</h5>
							<p class="card-text">Total: <strong>192</strong></p>
							<a th:href="@{/admin/feedbacks}" class="btn btn-primary">Manage</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="mt-auto">
			<footer th:replace="fragments::footer()" />
		</div>
	</div>
</body>
</html>