<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::page_head('404 Error')" />
<body>
	<div class="d-flex flex-column" style="min-height:100vh">
		<div th:replace="fragments::top_navigation(${page})" />
		<div th:replace="fragments::main_navigation(${page})" />
		
	    
	    <div class="container mt-4">
	    	<h1>404 Not found</h1>
	    	<h3 th:text="${errorCode}">404</h3>
	        <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
	        <a href="/" th:href="@{/}">Back to Home Page</a>
	    </div>
	    
	    <div class="mt-auto">
	    	<footer th:replace="fragments::footer()" />
	    </div>
	</div>
</body>
</html>