<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::page_head('Customer | Profile')" />
<body>
<div class="d-flex flex-column" style="min-height:100vh">
	<div th:replace="fragments::top_navigation('customer')" />
	<div th:replace="fragments::main_navigation('customer')" />
	<div class="ml-5 mr-5 mt-4 d-flex flex-grow-1">
		<div class="row flex-grow-1">
			<div th:replace="fragments::customer_menu('profile')"></div>
			<div class="col pl-4">
				<h2 class="pb-3">Your Profile</h2>
				<div class="border p-3 mb-3 rounded">
					<h4 class="border-bottom pb-3 mb-3">Basic Details</h4>
					<p class="mb-2"><strong>Username: </strong>[[${customer.username}]]</p>	
					<p class="mb-2"><strong>Full Name: </strong>[[${customer.full_name}]]</p>	
					<p class="mb-2"><strong>Email Id: </strong>[[${customer.email}]]</p>	
					<p class="mb-2"><strong>Phone No: </strong>[[${customer.phone_no}]]</p>
				</div>
				<div th:if="${customer.addresses.size()<=0}" class="address-list border p-3 mb-3 rounded">
					No address found, Please <a th:href="@{/customer/address}">add address</a>
				</div>
				<div th:if="${customer.addresses.size()>0}" class="address-list border p-3 mb-3 rounded">
					<h4 class="border-bottom pb-3 mb-3">Your Address</h4>
					<div class="address pb-2" th:each="address, status : ${customer.addresses}">
						[[${status.count}]]. <strong>[[${address.full_name}]]</strong>, [[${address.address_line_1}]], [[${address.address_line_2}]], 
						[[${address.city}]], [[${address.state}]], [[${address.country}]]-[[${address.zip}]]
					</div>
				</div>
			</div>
			<div class="col-lg-3 bg-danger rounded mb-auto">
				<div th:if="${message}" class="mt-3 alert alert-success">
					[[${message}]]
				</div>
				<form name="passwordForm" class="p-4" th:action="@{/customer/profile/password}" method="post" novalidate>
					<h2 class="text-white mb-3">Change Password</h2>
					<div class="form-group">
						<label class="text-light">Current Password</label>
						<input name="curpassword" type="password" class="form-control" placeholder="Current Password" required />
						<div class="invalid-feedback alert-danger pl-2 pr-2">
					        Please type your current password
				    	</div>
					</div>
					<div class="form-group">
						<label class="text-light">New Password</label>
						<input name="newpassword" type="password" class="form-control" placeholder="New Password" required />
						<div class="invalid-feedback alert-danger pl-2 pr-2">
					        <strong>Please type your new password</strong> <br /> * Your Current password must not same to New password.
				    	</div>
					</div>
					<div class="form-group">
						<label class="text-light">Retype New Password</label>
						<input name="newpassword2" type="password" class="form-control" placeholder="Retype New Password" />
						<div class="invalid-feedback alert-danger pl-2 pr-2">
					        Your password didn't match
				    	</div>
					</div>
					<input type="submit" class="btn btn-primary" value="Update" />
				</form>
			</div>
		</div>
	</div>
	
	<div class="mt-auto">
		<footer th:replace="fragments::footer()" />
	</div>
</div>

<script>
var passwordForm = document.forms.passwordForm,
	$passwordForm = $(passwordForm);
	
$passwordForm.find("input[type=password]").on("keyup", function(){
	$(this).removeClass('is-invalid');
});
$passwordForm.on("submit", function() {
	var curpassword = passwordForm['curpassword'].value,
		newpassword = passwordForm['newpassword'].value,
		newpassword2 = passwordForm['newpassword2'].value;
	
	if(curpassword=='' || newpassword=='' || newpassword2=='' || curpassword==newpassword || newpassword!=newpassword2) {
		
		if(curpassword=='') {
			$(passwordForm['curpassword']).addClass('is-invalid');
		}
		if(newpassword=='' || curpassword==newpassword) {
			$(passwordForm['newpassword']).addClass('is-invalid');
		}
		if(newpassword2=='' || newpassword!=newpassword2) {
			$(passwordForm['newpassword2']).addClass('is-invalid');
		}
		
		console.log(passwordForm['curpassword'].value, passwordForm['newpassword'].value);
		return false;
	}
});
</script>
</body>
</html>